.counter_heading{
    font-size: 20px;
    color: red;
}

.counterSection {
    width: full;
    max-width: 1200px;
    margin: auto;
    display: block;
}

.counter-main{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: aquamarine;
    border-radius: 20px;    
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}
